* {
    box-sizing: border-box;
}

:root {
    --font-cl: #152427;
    --font-two: "Public Sans", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ====================================== common ====================================== */
a {
    text-decoration: none;
}

/* ====================================== Header ====================================== */

.navbar__list {
    display: flex;
}

.navbar__link {
    text-align: right;
}
